*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(270deg, #44bd32, #fbc531);
  height: 100vh;
  font-family: 'Ubuntu Condensed', sans-serif;
}

.container{
  
  width: 60vw;
  padding: 1em;
  margin: auto;

}

.text{
  font-family: 'Ubuntu Condensed', sans-serif;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  padding: 1em;
  outline: none;
  font-size: 1rem;
}

.task{
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  margin: .5em 0;
}

.task i{
  float: right;
  margin-left: 1em;
  cursor: pointer;
}

.completed .task{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
